{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
    <a href="/about">About</a>
      <div class="col">
        <img src="/static/images/moabhouse.jpg" width="100%" height="auto" />
        <h1>
          This is the Home page.
        </h1>
        <p>And some text</p>
      </div>
    </div>
  </div>
{{end}}