{{template "base" .}}
    {{define "head"}}
        <title>Moab B&B</title>
    {{end}}

    {{define "css"}}
        <style>
            .my-footer {
                height: 5em;
                background-color: #163b65;
                margin-top: 1.5em;
                padding: 1em;
                color: white;
                font-size: 80%;
            }
            .carousel-item img {
                filter: brightness(75%);
            }
        </style>
    {{end}}

{{define "content"}}

    <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/images/moabwoman.jpg" class="d-block w-100" alt="Woman and laptop">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Just a five minute hike to the trails</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/images/moabbkreakfast.jpg" class="d-block w-100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Professionally cooked meals if requested.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/images/moabhouse.jpg" class="d-block w-100" alt="Outside">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Beautiful backyard for relaxing.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row my-5">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Fort Smythe Bed and Breakfast</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                </p>
            </div>
        </div>


        <div class="row my-5">

            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>

            </div>
        </div>

    </div>
{{end}}