{{template "base" .}}

{{define "css"}}
    <style>
        .datepicker, .modal-form {
            z-index: 10000;
        }
        .swal2-actions {
            z-index: 0;
        }
    </style>
{{end}}

{{define "content"}}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                {{/*                <img src="/static/images/master.png" class="img-fluid d-block mx-auto" alt="" height="400"/>*/}}
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <h1>Check Reservations</h1>
                <form action="/reservation" novalidate class="needs-validation" method="post">
                    <div class="row">
                        <div class="col">

                            <div class="row" id="reservation_dates">
                                <div class="col">
                                    <label for="start" class="form-label">Arrival Date</label>
                                    <input placeholder="Choose arrival date" type="text" name="start" id="start"
                                           class="form-control">
                                </div>
                                <div class="col">
                                    <label for="end" class="form-label">Departure Date</label>
                                    <input placeholder="Choose departure date" type="text" name="end" id="end"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Search Availability</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-3">
                <button id="colorme">
                    NOTIFY
                </button>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

        let attention = Prompt();
        // form validation
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })();
        addEventListener("load", ()=>{
            const elem = document.getElementById('reservation_dates');
            new DateRangePicker(elem, {
                format: "yyyy-mm-dd"
            });
        });

        function notify(text, type = "success"){
            notie.alert({
                type,
                text,
            });
        }
        function notifyModal(title, text, type = "success", confirmButtonText = "Ok") {
            Swal.fire?.({
                title,
                text,
                icon: type,
                confirmButtonText
            });
        }

        document.getElementById("colorme").addEventListener('click', ()=>{
            // notify("yoyoyooo", "warning");
            // notifyModal("this is the totle", "this is a mesage");
            const html = `
            <form action="/reservation" novalidate class="needs-validation modal-form" method="post">
                <div class="row">
                    <div class="col">
                        <div class="row" id="reservation-dates-modal">
                            <div class="col">
                                <label for="start-modal" class="form-label">Arrival Date</label>
                                <input disabled required placeholder="Choose arrival date" type="text" name="start" id="start-modal"
                                       class="form-control">
                            </div>
                            <div class="col">
                                <label for="end-modal" class="form-label">Departure Date</label>
                                <input disabled required placeholder="Choose departure date" type="text" name="end" id="end-modal"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>`;
            attention.custom({ msg: html, title: "choose dates" });
        })

        function Prompt() {
            let toast = function(c) {
                const {
                    msg = "",
                    icon = "success",
                    position = "top-end"
                } = c;
                const Toast = Swal.mixin({
                    toast: true,
                    title: msg,
                    position,
                    icon,
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({});
            }
            const success = function(c) {
                const {
                    msg = "",
                    title = "",
                    footer = ""
                } = c;
                Swal.fire({
                    icon: "success",
                    title,
                    text: msg,
                    footer
                })
            }
            const error = function(c) {
                const {
                    msg = "",
                    title = "",
                    footer = ""
                } = c;
                Swal.fire({
                    icon: "error",
                    title,
                    text: msg,
                    footer
                })
            }

            async function custom(c){
                const {
                    msg = "",
                    title = ""
                } = c;
                const { value: formValues } = await Swal.fire({
                    title,
                    html: msg,
                    backdrop: false,
                    focusConfirm: false,
                    willOpen: () => {
                        const el = document.getElementById("reservation-dates-modal");
                        new DateRangePicker(el, {
                            format: "yyyy-mm-dd",
                            showOnFocus: true,
                        });
                    },
                    didOpen: () => {
                        document.getElementById("start-modal").removeAttribute('disabled');
                        document.getElementById("end-modal").removeAttribute('disabled');
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById("start").value,
                            document.getElementById("end").value
                        ];
                    }
                });
                if (formValues) {
                    Swal.fire(JSON.stringify(formValues));
                }

            }
            return {
                toast,
                success,
                error,
                custom
            }
        }

    </script>
{{end}}
