{{template "base" .}}

{{define "css"}}
    <style>
        .datepicker, .modal-form {
            z-index: 10000;
        }
        .swal2-actions {
            z-index: 0;
        }
    </style>
{{end}}

{{define "content"}}
    <div class="container my-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <h1>Check Reservations</h1>
                <form method="post" action="/search-availability" novalidate class="needs-validation" >
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                    <div class="row">
                        <div class="col">

                            <div class="row" id="reservation_dates">
                                <div class="col">
                                    <label for="start" class="form-label">Arrival Date</label>
                                    <input placeholder="Choose arrival date" type="text" name="start" id="start"
                                           class="form-control">
                                </div>
                                <div class="col">
                                    <label for="end" class="form-label">Departure Date</label>
                                    <input placeholder="Choose departure date" type="text" name="end" id="end"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Search Availability</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        addEventListener("load", ()=> {
            const elem = document.getElementById('reservation_dates');
            if (elem) {
                new DateRangePicker(elem, {
                    format: "yyyy-mm-dd"
                });
            }
        });
    </script>
{{end}}
