{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/standard.png" class="img-fluid d-block mx-auto" alt="masters bedroom"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>This is the Standard Room Page.</h1>
                <p>This came from the template: {{index .StringMap "test"}}</p>
                <a id="check-availability" href="#!">Check Availability</a>
            </div>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        document.getElementById("check-availability").addEventListener('click', ()=>{
            const html = `
<form id="check-availability-form" method="post" action="" novalidate class="needs-validation modal-form">
    <div class="row">
        <div class="col">
            <div class="row" id="reservation-dates-modal">
                <div class="col">
                    <label for="start-modal" class="form-label">Arrival Date</label>
                    <input disabled required placeholder="Choose arrival date" type="text" name="start" id="start-modal"
                           class="form-control">
                </div>
                <div class="col">
                    <label for="end-modal" class="form-label">Departure Date</label>
                    <input disabled required placeholder="Choose departure date" type="text" name="end" id="end-modal"
                           class="form-control">
                </div>
            </div>
        </div>
    </div>
</form>`;
            attention.custom({
                msg: html,
                title: "choose dates",
                willOpen: () => {
                    const el = document.getElementById("reservation-dates-modal");
                    new DateRangePicker(el, {
                        format: "yyyy-mm-dd",
                        showOnFocus: true,
                    });
                },
                didOpen: () => {
                    document.getElementById("start-modal").removeAttribute('disabled');
                    document.getElementById("end-modal").removeAttribute('disabled');
                },
                callback: async (values) => {
                    if (values !== false) {
                        const form = document.getElementById("check-availability-form");
                        const formData = new FormData(form);
                        formData.append('csrf_token', "{{.CSRFToken}}")
                        try {
                            const data = await fetch("/search-availability-json", {
                                method: 'POST',
                                body: formData,
                            })
                                .then((res) => res.json());
                            console.log("data:", data);
                        } catch (e) {
                            console.log(e);
                        }

                    }
                }
            });
        })

    </script>
{{end}}
